body {
  background: url(https://liangjia.oss-cn-beijing.aliyuncs.com/QQ%E5%9B%BE%E7%89%8720230131162127%201.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

li {
  list-style: none;
}

input {
  outline: none;
}

.decoration {
  margin: 0 auto;
  width: 500px;
  height: 70px;
  transform: translateY(60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translate(25px, 100px);
}

.ly {
  margin: 0;
  width: 200px;
  height: 70px;
  background: url(https://aaaaaabc.oss-cn-beijing.aliyuncs.com/Rectangle%2011.png);
}

.sum {
  flex: 1;
  color: #3b3b3b;
  font-weight: 550;
  font-size: 37px;
  transform: translate(15px, 5px);
}

.users_sing_in {
  position: absolute;
  width: 500px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.title {
  position: absolute;
  height: 40px;
  top: -80px;
  left: 240px;
  font-style: normal;
  font-weight: 550;
  font-size: 37px;
  line-height: 40px;
  color: #3b3b3b;
}

.logo {
  position: relative;
  left: 25px;
  top: -100px;
}

.password {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Irish Grover";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #3b3b3b;
  cursor: pointer;
}

.verification {
  position: absolute;
  top: 30px;
  left: 160px;
  font-family: "Irish Grover";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #636363;
  cursor: pointer;
}

.input input {
  width: 400px;
  height: 30px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 4px solid #f5f5f5;
}

.input {
  position: absolute;
  top: 130px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.input img {
  width: 30px;
  position: absolute;
  top: 75px;
  left: 370px;
}

#input_password {
  position: absolute;
  top: 70px;
  left: 0;
}

#input_user,
#input_password,
#input_users,
#input_passwords {
  transition: all .5s;
}

#input_user:focus,
#input_password:focus,
#input_users:focus,
#input_passwords:focus {
  border-bottom: 2px solid black;
}

#input_passwords {
  position: absolute;
  top: 70px;
  left: 0;
}

.check {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 30px;
  font-size: 10px;
  color: #6d6d6d;
}

.check p {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: #6d6d6d;
}

.sign_in {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 35px;
  background-color: #006eff;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  transition: all .5s;
}

.sign_in:hover {
  background-color: #002aff;
  font-size: 15px;
}

.line {
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 3px;
  background-color: #f5f5f5;
}

.other {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}

.others_img {
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.others_img img {
  width: 60px;
  cursor: pointer;
  transition: all 0.6s;
}

.others_img img:hover {
  transform: scale(1.2);
}

.sign_up {
  position: absolute;
  top: 563px;
  left: 40px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: all .8s;
}

.users {
  position: absolute;
  top: 550px;
  right: 40px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: all .8s;
}

.users:hover,
.sign_up:hover {
  color: #006eff;
}

.select {
  width: 255px;
  height: 3px;
  position: absolute;
  top: 70px;
  left: 30px;
}

.select_password {
  width: 100px;
  height: 3px;
  background-color: #006eff;
}

.select_verification {
  position: absolute;
  left: 130px;
  top: 0;
  width: 125px;
  height: 3px;
  /* background-color: #006eff; */
}

.verification_sign_in {
  display: none;
}

.get_verification {
  width: 110px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: 72px;
  left: 300px;
  font-size: 14px;
  color: #006eff;
  cursor: pointer;
}

.moniter_input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  width: 420px;
}

#tip {
  color: red;
  font-size: 10px;
}

#tip1 {
  color: red;
  font-size: 10px;
}

.moniter {
  position: absolute;
  width: 500px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gltitle,
.btn,
.exchange {
  width: 100%;
  height: 100px;
}

.msg {
  width: 100%;
  flex: 1;
}

.msg .msg1,
.msg .msg2 {
  margin: 0 auto;
  width: 420px;
  border-bottom: 4px solid #f5f5f5;
}

#username:focus,
#password:focus {
  border-bottom: 2px solid black;
}

.msg2 {
  transform: translateY(40px);
}

.gltitle {
  font-size: 25px;
  line-height: 100px;
  text-align: center;
  cursor: default;
}

.login {
  margin: auto;
  width: 380px;
  height: 50px;
  background-color: #006eff;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .5s;
}

.login:hover {
  background-color: #0022ff;
  font-size: 18px;
}

.exchange .words {
  margin: 0px 0px 0px 370px;
  height: 60px;
  width: 66px;
  text-align: right;
  line-height: 60px;
  font-size: 16px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.8s;
}

.words:hover {
  color: #0022ff;
}

.user_register {
  width: 1038px;
  height: 672px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.user_register_type {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 1038px;
  height: 608px;
  background-color: yellow;
  bottom: 0;
  background: #FFFFFF;
  opacity: 0.9;
  border-radius: 8px;
}

.phone_register {
  position: absolute;
  top: 25px;
  left: 264px;
  width: 160px;
  height: 39px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  border-bottom: 2px dashed black;
  cursor: pointer;
}

.phone_register_change {
  position: absolute;
  top: 25px;
  left: 264px;
  width: 160px;
  height: 39px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}


.email_register {
  position: absolute;
  top: 25px;
  left: 593px;
  width: 128px;
  height: 39px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  cursor: pointer;
}

.email_register_change {
  position: absolute;
  top: 25px;
  left: 593px;
  width: 128px;
  height: 39px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  border-bottom: 2px dashed black;
}

.phone_register_list {
  width: 880px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list_one {
  width: 400px;
  height: 400px;
  float: left;

}

.list_two {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  transform: translateY(5px);
}

.phone {
  width: 400px;
  height: 100px;

}

.check_number {
  width: 400px;
  height: 100px;
}

.name_msg {
  float: left;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  transform: translate(10px, 36px);
  font-size: 28px;
}

.name input {
  width: 213px;
  height: 34px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  border-radius: 5px;
  border: 0;
  transform: translate(55px, 41px);
}



.number_msg {
  float: left;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  transform: translate(-47px, 142px);
  font-size: 28px;
}

.number input {
  width: 213px;
  height: 34px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  border-radius: 5px;
  border: 0;
  transform: translate(0px, 146px);
}

#btn01,
#btn02 {
  width: 170px;
  height: 53px;
  border-radius: 30px;
  background: #006EFF;
  color: #ffffff;
  font-size: 23px;
  position: absolute;
  bottom: 33px;
  right: 170px;
  transition: all .5s;
  transform: translateX(75px);
}

#btn01:hover,
#btn02:hover {
  background-color: #002aff;
  font-size: 18px;
}

.phone_number {
  float: left;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  transform: translate(10px, 36px);
  font-size: 28px;
}

.email {
  float: left;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  transform: translate(10px, 36px);
  font-size: 28px;
}

.phone input {
  width: 213px;
  height: 34px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  border-radius: 5px;
  border: 0;
  transform: translate(55px, 41px);
}

.email_get {
  font-size: 10px;
  color: #006EFF;
  cursor: pointer;
  width: 84px;
  transform: translate(315px, 44px);
}

.check_number_number {
  float: left;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  transform: translate(10px, 78px);
  font-size: 28px;
}

.check_number input {
  width: 213px;
  height: 34px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  border-radius: 5px;
  border: 0;
  transform: translate(55px, 80px);
}

.email_register_list {
  width: 880px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.email_register_list_One {
  display: none;
}

.phone button {
  width: 100px;
  height: 16px;
  font-size: 10px;
  color: #006EFF;
  transform: translate(179px, 41px);
  border: none;
  background: none;
  cursor: pointer;
}

.email button {
  width: 100px;
  height: 16px;
  font-size: 10px;
  color: #006EFF;
  transform: translate(179px, 41px);
  border: none;
  background: none;
  cursor: pointer;
}

#name:focus,
#direction:focus,
#number:focus,
#phone_number:focus,
#check_number:focus,
#email_value:focus {
  border: 1.5px solid black;
}